<a href="https://colab.research.google.com/github/aslbekrazzoqberdi/My-Projects/blob/main/4_Project_Covid_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Covid Data.csv.zip")

In [ ]:
data

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,9999-99-99,97,2,40,97,2,...,2,2,2,2,2,2,2,2,7,97
1048571,1,13,2,2,9999-99-99,2,2,51,97,2,...,2,2,1,2,2,2,2,2,7,2
1048572,2,13,2,1,9999-99-99,97,2,55,97,2,...,2,2,2,2,2,2,2,2,7,97
1048573,2,13,2,1,9999-99-99,97,2,28,97,2,...,2,2,2,2,2,2,2,2,7,97
1048574,2,13,2,1,9999-99-99,97,2,52,97,2,...,2,2,2,2,2,2,2,2,7,97

In [ ]:
df = data.head(100)

In [ ]:
df

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,1,1,1,9999-99-99,97,2,49,2,2,...,2,2,2,2,2,2,2,2,7,97
96,2,1,1,1,9999-99-99,97,2,24,2,2,...,2,2,2,2,2,2,2,2,7,97
97,2,1,2,1,9999-99-99,97,2,28,97,2,...,2,2,2,2,2,2,2,2,7,97
98,2,1,2,1,9999-99-99,97,2,27,97,2,...,2,2,2,2,2,2,2,1,7,97
99,2,1,1,1,9999-99-99,97,2,26,2,2,...,2,2,2,2,2,2,2,1,7,97

In [ ]:
df.count()

USMER                   100
MEDICAL_UNIT            100
SEX                     100
PATIENT_TYPE            100
DATE_DIED               100
INTUBED                 100
PNEUMONIA               100
AGE                     100
PREGNANT                100
DIABETES                100
COPD                    100
ASTHMA                  100
INMSUPR                 100
HIPERTENSION            100
OTHER_DISEASE           100
CARDIOVASCULAR          100
OBESITY                 100
RENAL_CHRONIC           100
TOBACCO                 100
CLASIFFICATION_FINAL    100
ICU                     100
dtype: int64

In [ ]:
df.isnull().sum()

USMER                   0
MEDICAL_UNIT            0
SEX                     0
PATIENT_TYPE            0
DATE_DIED               0
INTUBED                 0
PNEUMONIA               0
AGE                     0
PREGNANT                0
DIABETES                0
COPD                    0
ASTHMA                  0
INMSUPR                 0
HIPERTENSION            0
OTHER_DISEASE           0
CARDIOVASCULAR          0
OBESITY                 0
RENAL_CHRONIC           0
TOBACCO                 0
CLASIFFICATION_FINAL    0
ICU                     0
dtype: int64

In [ ]:
df.groupby('AGE').sum()

<ipython-input-14-f3147dcd504b>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('AGE').sum()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
AGE,,,,,,,,,,,,,,,,,,,
16,2,1,2,2,2,2,97,2,2,2,2,2,2,2,2,2,2,7,2
19,2,1,2,1,97,2,97,2,2,2,2,2,2,2,2,2,2,7,97
20,2,1,1,1,97,2,2,2,2,2,2,2,2,2,2,2,2,3,97
23,6,3,3,3,291,6,6,6,6,6,6,6,6,6,6,6,6,17,291
24,12,6,8,8,392,12,202,12,12,12,12,12,12,12,12,12,12,34,392
25,16,8,9,11,491,15,111,16,16,15,16,16,16,16,16,16,16,48,491
26,10,5,5,5,485,10,10,10,10,10,10,10,10,10,10,10,9,29,485
27,10,5,9,6,389,9,390,10,10,10,10,10,10,10,10,10,8,29,389
28,10,5,7,5,485,10,200,10,10,10,10,10,10,10,10,10,10,33,485
30,10,5,8,8,200,10,295,9,10,10,10,10,9,10,9,10,9,27,200
32,4,2,3,2,194,4,99,4,4,4,4,4,4,4,4,4,3,10,194
33,4,2,4,2,194,4,194,4,4,4,4,4,4,4,4,4,4,14,194
34,4,2,3,2,194,4,99,4,4,4,4,3,4,4,4,4,4,14,194
35,2,1,1,1,97,2,2,2,2,2,2,2,2,2,2,2,2,7,97
36,2,1,2,2,2,1,97,2,2,2,2,2,2,2,2,2,1,7,1
37,8,4,5,5,293,8,103,7,8,8,8,7,8,8,7,8,7,16,293
38,6,3,4,3,291,6,101,6,6,6,6,6,6,6,6,5,6,13,291
39,2,1,2,1,97,2,97,2,2,2,2,2,2,2,2,2,1,3,97
40,2,1,1,2,2,1,2,2,2,2,2,2,2,2,2,2,2,3,2
43,4,2,2,2,194,4,4,4,4,4,4,4,4,4,4,4,3,12,194
44,2,1,1,1,97,2,2,2,2,2,2,2,2,2,2,2,2,7,97
45,8,4,8,6,197,6,388,8,8,8,8,8,8,8,8,8,8,12,197
46,2,1,1,1,97,2,2,2,2,2,2,2,2,2,2,2,2,5,97
47,2,1,2,1,97,2,97,2,2,1,2,2,1,1,2,2,2,3,97
48,4,2,2,3,98,3,4,2,4,4,4,4,4,4,4,4,4,10,98
49,6,3,4,3,291,6,101,6,6,6,6,6,6,6,6,6,6,13,291
50,2,1,1,1,97,2,2,2,2,2,2,2,2,2,2,2,1,3,97
51,2,1,1,1,97,2,2,2,2,2,2,2,2,2,2,2,2,7,97
52,2,1,1,1,97,2,2,2,2,2,2,2,2,2,2,2,2,7,97
53,2,1,1,1,97,2,2,2,2,2,2,2,2,2,2,2,2,7,97
54,2,1,2,1,97,2,97,2,2,2,2,2,2,2,2,2,2,3,97
55,4,2,4,3,98,4,194,3,4,4,4,4,4,4,4,4,4,6,99
56,6,3,4,4,196,6,101,6,6,6,6,5,6,5,5,6,6,17,196
57,8,4,7,4,388,8,293,7,8,8,8,8,8,8,7,8,7,24,388
58,2,1,1,2,1,1,2,2,2,2,2,1,2,1,1,2,2,7,1
59,4,2,4,3,99,3,194,3,3,4,4,4,4,4,4,4,2,10,98
61,2,1,2,1,97,2,97,2,2,2,2,2,2,2,2,2,2,3,97
62,4,2,3,2,194,4,99,3,4,4,4,3,4,4,3,4,3,14,194
64,6,3,3,3,291,5,6,5,6,6,5,5,6,6,6,5,6,9,291
65,2,1,1,1,97,1,2,2,2,2,2,1,2,2,2,2,2,3,97
66,2,1,2,1,97,2,97,2,2,2,2,1,2,2,2,2,2,7,97
68,2,1,2,1,97,2,97,1,2,2,2,1,2,2,2,2,2,3,97
72,2,1,2,1,97,1,97,2,2,2,2,1,2,2,1,1,2,5,97
80,2,1,1,2,2,1,2,2,2,2,2,1,2,2,2,2,2,3,1
90,2,1,2,2,2,2,97,2,2,2,2,2,2,2,2,2,2,7,2

In [ ]:
df.groupby('AGE')['PREGNANT'].sum().sort_values(ascending = False).head(10)

AGE
27    390
45    388
30    295
57    293
24    202
28    200
59    194
33    194
55    194
25    111
Name: PREGNANT, dtype: int64

### REMOVE ALL RECORDS WHERE THE AGE IS LESS THAN 60 :

In [ ]:
df.head(2)

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97

In [ ]:
df = df[~(df.AGE < 60)]
df

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
6,2,1,1,1,9999-99-99,97,2,64,2,2,...,2,2,2,2,2,2,2,2,3,97
7,2,1,1,1,9999-99-99,97,1,64,2,1,...,2,1,1,2,2,2,1,2,3,97
16,2,1,1,2,9999-99-99,2,1,80,2,2,...,2,2,1,2,2,2,2,2,3,1
17,2,1,2,1,9999-99-99,97,2,61,97,2,...,2,2,2,2,2,2,2,2,3,97
19,2,1,1,1,9999-99-99,97,2,64,2,2,...,2,2,2,2,2,2,2,2,3,97
54,2,1,1,1,9999-99-99,97,2,62,2,2,...,2,2,1,2,2,1,2,1,7,97
72,2,1,2,1,9999-99-99,97,2,66,97,2,...,2,2,1,2,2,2,2,2,7,97
84,2,1,2,2,9999-99-99,2,2,90,97,2,...,2,2,2,2,2,2,2,2,7,2
90,2,1,2,1,9999-99-99,97,2,62,97,1,...,2,2,2,2,2,2,2,2,7,97

In [ ]:
df.head(10)

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
5,2,1,1,2,9999-99-99,2,1,40,2,2,...,2,2,2,2,2,2,2,2,3,2
6,2,1,1,1,9999-99-99,97,2,64,2,2,...,2,2,2,2,2,2,2,2,3,97
7,2,1,1,1,9999-99-99,97,1,64,2,1,...,2,1,1,2,2,2,1,2,3,97
8,2,1,1,2,9999-99-99,2,2,37,2,1,...,2,2,1,2,2,1,2,2,3,2
9,2,1,1,2,9999-99-99,2,2,25,2,2,...,2,2,2,2,2,2,2,2,3,2

In [ ]:
df.head(2)

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97

### IN WHICH AGE MAXIMUM NUMBER OF PREGNANCE

In [ ]:
df.groupby('AGE').PREGNANT.sum().sort_values(ascending = False)

AGE
62    99
61    97
66    97
68    97
72    97
90    97
64     6
65     2
80     2
Name: PREGNANT, dtype: int64

#### IN WHICH AGE OBESITY IS MINIMUM

In [ ]:
data.groupby('AGE').OBESITY.sum().sort_values(ascending = True)

AGE
121        2
111        2
113        2
114        3
115        3
       ...
33     51516
29     51771
28     52760
31     53756
30     56167
Name: OBESITY, Length: 121, dtype: int64